{% extends "base.html" %}

{% block content %}

    <div class="detail">
		<form method="post"> {% csrf_token %}
			<div class="detail-info">
                <table>
                {% for field in form %}
                    <tr>
                        <td align="right">{{ field.label }} :</td>
                        <td colspan="2">{{ field }}</td>
                    </tr>
                {% endfor %}
                <tr><td></td><td align="center">{{ form.non_field_errors }}</td></tr>
                </table>
			</div>

			<div class="detail-op">
				<input type="submit" value="Submit">
			</div>
    	</form>
	</div>

{% endblock %}